body {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main {
    display: flex;                  /* activates flexbox */
    justify-content: center;        /* center boxes horizontally */
    align-items: center;            /* center vertically */
    gap: 2rem;                      /* space between boxes */
    background-color: #111;
    padding: 1rem;
}
.item {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}
.item:hover {
  color: #00bfff; /* light blue on hover */
}
.box {
    background-color:  #222;
}
#title {
    text-align: center;
    text-shadow: #222;
    font-size: 50px;
}

/*=======================================*/
#AboutMe {
    display:flex;
    flex-direction: column;
    border: 5px outset black;
    width: 1000px;
    height: 1100px;
    background-color: bisque;
}

/*Section 1 - Main Page*/
#AboutMe1 {
    display: flex; 
    justify-content: center;
    margin-top: 20px;

}
#text1 {
    border: 5px outset black;
    border-radius: 10px;       /* rounds the corners */
    padding: 0.5rem 1rem;      /* space inside the box */
    background-color: beige;
    margin-right: 20px;
}
#image1 img{
    width: 150px; /* Set equal width and height */
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fills the circle and maintains aspect ratio */
}

/*Section 2 Main Page*/
#text2 {
    border: 5px outset black;
    border-radius: 10px;       /* rounds the corners */
    padding: 0.5rem 1rem;      /* space inside the box */
    background-color: beige;
    margin-left: 20px;
}
#AboutMe2 {
    display: flex; 
    justify-content: center;
    margin-top: 20px;
}
#image2 img{
    width: 150px; /* Set equal width and height */
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fills the circle and maintains aspect ratio */
}

/*Section 3 Main Page*/
#text3 {
    border: 5px outset black;
    border-radius: 10px;       /* rounds the corners */
    padding: 0.5rem 1rem;      /* space inside the box */
    background-color: beige;
    margin-right: 20px;

}
#AboutMe3 {
    display: flex; 
    justify-content: center;
    margin-top: 20px;
}
#image3 img{
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fills the circle and maintains aspect ratio */
}

/*Section 4 Main Page*/
#AboutMe4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#image4 img{
    width: 150px; /* Set equal width and height */
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fills the circle and maintains aspect ratio */
}
#text4 {
    border: 5px outset black;
    border-radius: 10px;       /* rounds the corners */
    padding: 0.5rem 1rem;      /* space inside the box */
    background-color: beige;
    margin-left: 20px;
}

