body {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main {
    display: flex;                  /* activates flexbox */
    justify-content: center;        /* center boxes horizontally */
    align-items: center;            /* center vertically */
    gap: 2rem;                      /* space between boxes */
    background-color: #111;
    padding: 1rem;
}
.item {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}
.item:hover {
  color: #00bfff; /* light blue on hover */
}
.box {
    background-color:  #222;
}
#title {
    text-align: center;
    text-shadow: #222;
    font-size: 50px;
}
/*--------------------------------------------*/

#header {
    display: flex;
    justify-content: center;
}
#header h1{
    text-align: center;
    text-shadow: #222;
    font-size: larger;
}
#header p{
    text-align: center;
    text-shadow: #222;
    font-size: larger;
    border: 5px ridge black;
    background-color: beige;
}

/*-----------------------------------------------*/
#skills {
    display:flex;
    flex-direction: column;
    border: 5px outset black;
    width: 1000px;
    height: 600px;
    background-color: bisque;
    align-items: center;
}

/*--------------------------------------------------*/
#tech {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#listTech {
    border: 5px outset black;
    border-radius: 10px;       /* rounds the corners */
    padding: 0.5rem 1rem;      /* space inside the box */
    background-color: beige;
    margin-right: 20px;
}
#imageTech img{
    width: 150px; /* Set equal width and height */
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fills the circle and maintains aspect ratio */
}

/*---------------------------------------------------------------------*/
#sports {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#listSports {
    border: 5px outset black;
    border-radius: 10px;       /* rounds the corners */
    padding: 0.5rem 1rem;      /* space inside the box */
    background-color: beige;
    margin-right: 20px;
}
#imageSports img{
    width: 150px; /* Set equal width and height */
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fills the circle and maintains aspect ratio */
}

/*---------------------------------------------------------------*/
#academics {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#listAcademics {
     border: 5px outset black;
    border-radius: 10px;       /* rounds the corners */
    padding: 0.5rem 1rem;      /* space inside the box */
    background-color: beige;
    margin-right: 20px;
}
#imageAcademics img{
     width: 150px; /* Set equal width and height */
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fills the circle and maintains aspect ratio */
}